@mixin flex-g{
display: flex;
justify-content: center;
}
@mixin flax-v{
    display: flex;
    align-items: center;
}
@mixin flax-c{
    display: flex;
    justify-content: center;     
    align-items: center;
}