extends layout/app
block var
    - let page_title = "Home";
block content 
    main.content 
       .start
            .start__container
                .start__author
                    span Ravshan Nuraliyev 
                .start__name 
                    h1 Gulp starter 
                .start_social 
                    a(href="https://t.me/@roma19_10")
                        i.fa-brands.fa-telegram
                    a(href="https://instagram.com/@roma_jan.7")
                        i.fa-brands.fa-instagram
                    a(href="https://t.me/@roma19_10")
                        i.fa-brands.fa-whatsapp

